/* Asterisk wildcard selector to override HTML default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
}

main {
    background-color: purple;
}

footer {
    background-color: green;
}