/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Play:wght@400;700&display=swap');

/* Asterisk wildcard selector to override HTML default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Play', sans-serif;
    color: #eceae4;
}

header {
    background-color: rgba(11, 12, 13, 0.8);
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

h1 {
    font-size: 1.17em;
}

#navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#logo {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: #b11c46;
}

#hero {
    background: url("../images/person-sat-at-computer.jpg") no-repeat center center/cover;
    width: 100%;
    height: 650px;
    position: relative;
    box-shadow: 0 2px 10px black;
}

#slogan {
    position: absolute;
    bottom: 10%;
    right: 10%;
    max-width: 50%;
    font-style: italic;
    font-size: 120%;
    text-align: right;
}

main {
    background-color: #404040;
    /* Makes the main content take up all available space between the header and the footer */
    flex: 1 0 auto;
}

hr {
    margin: 5px 0;
}

.section-title {
    width: 100vw;
    text-align: center;
    padding: 25px 0 0 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.attributes-image {
    width: 100%;
}

#about-us {
    text-align: justify;
    color: #eceae4;
}

#about-us-text {
    padding: 20px 35px;
}

#about-us-image {
    background: url("../images/person-plugging-in-cpu.jpeg") no-repeat center center/cover;
    width: 80%;
    height: 30vh;
    margin-bottom: 20px;
    border-radius: 5%;
}

#what-we-do {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    scroll-margin: 53px;
    background-color: black;
    box-shadow: 2px 0 10px black;
}

#personalised-solutions,
#uncompromising-quality {
    padding: 20px 50px 20px 20px;
    text-align: left;
}

#satisfaction-guarantee,
#ongoing-support {
    padding: 20px 20px 20px 50px;
    text-align: right;
}

#what-we-do-image {
    background: url("../images/gpu-landscape.jpeg") no-repeat -10vw center/cover;
    height: 60vw;
    width: 100%;
}

/* Temporary styling for placeholder text */
#contact-us-form {
    padding: 20px 35px;
}

#contact-us-image {
    background: url("../images/person-plugging-in-gpu.webp") no-repeat center center/cover;
    width: 80%;
    height: 30vh;
    margin-top: 20px;
    border-radius: 5%;
}

footer {
    background-color: #222222;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
}

#social-media li a {
    text-decoration: none;
    color: #eceae4;
    font-size: 25px;
}

/* Media query for tablets and larger */
@media screen and (min-width: 768px) {
    header {
        display: inherit;
        justify-content: space-between;
        padding: 10px;
    }

    nav {
        display: inherit;
        align-items: center;
    }

    .image-container {
        justify-content: flex-end;
    }

    #about-us-image {
        width: 60vw;
        margin: 0 50px 50px 0;
    }

    #about-us-text {
        text-align: left;
        width: 80%;
    }

    #personalised-solutions,
    #satisfaction-guarantee {
        padding: 5vw 25vw 5vw 5vw;
        text-align: left;
    }

    #uncompromising-quality,
    #ongoing-support {
        padding: 5vw 5vw 5vw 25vw;
        text-align: right;
    }

    #what-we-do-image {
        background: url(../images/gpu-landscape.jpeg) no-repeat -21vw center/cover;
        height: 50vw;
        width: 50vw;
        margin: 0 25vw;
    }

    #navbar li {
        padding: 0 10px;
    }
}

/* Media quary for small laptops and larger */
@media screen and (min-width: 992px) {
    header a:hover {
        color: #404040;
    }

    .attributes {
        width: 40vw;
    }

    #about-us {
        display: flex;
        justify-content: flex-start;
    }

    #about-us-image {
        width: 60vw;
        height: 500px;
        border-radius: 0;
        margin: 0;
    }

    #about-us-text {
        text-align: justify;
        width: 400px;
        margin: 5vw;
        padding: 0;
        order: 2;
        flex-grow: 1;
    }

    #what-we-do-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #personalised-solutions,
    #satisfaction-guarantee {
        padding: 5vw;
        text-align: left;
    }

    #uncompromising-quality,
    #ongoing-support {
        padding: 5vw;
        text-align: right;
    }

    #what-we-do-image {
        background: url(../images/gpu-portrait.jpeg) no-repeat center -245px/cover;
        height: 500px;
        width: 500px;
        margin: auto;
    }
}

/* Media query for desktop PCs and larger */
@media screen and (min-width: 1200px) {
    .attributes {
        min-width: 350px;
        width: 25vw;
    }

    .attributes-image {
        width: fit-content;
        height: 100%;
    }

    #about-us-image {
        width: 40vw;
    }

    #about-us-text {
        text-align: left;
        margin: 150px 10vw 10vw 150px;
    }

    #what-we-do {
        justify-content: center;
        align-items: center;
    }

    #what-we-do-container {
        flex-direction: column;
        height: 700px;
    }

    #personalised-solutions,
    #uncompromising-quality {
        text-align: left;
    }

    #satisfaction-guarantee,
    #ongoing-support {
        text-align: right;
    }
}